
:root {
  font-size: 16px;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

body {
  margin: 0;
  padding: 0 2em;
  display: flex;
  place-items: center;
}

h1 {
  font-size: 1.8em;
}

.overlay-banner {
  position: absolute;
  z-index: 10;
  left: 0;
  width: 100%;
  text-align: center;
  top: 50%;

  text-shadow: black 0 0 4px;
  font-size: 64px;
  font-weight: bolder;
  animation-duration: 3s;
  animation-name: zoom;
  color: white;
}

@keyframes zoom {
  from {
    top: -64px;
  }
  to {
    top: 50%;
  }
}

.clue {
  display: block;
  width: 100%;
  font-size: 1.2em;
}

button {
  appearance: none;
  font-size: 1.3em;
  font-weight: bolder;
  padding: 0.5em;
  border-radius: 0.5em;
  border-width: 5px;

  border-top-color: #ccc;
  border-left-color: #ccc;
  border-bottom-color: #ccc;
  border-right-color: #ccc;
  background: white;
}

button:active {
  background: #FFC;
}

.action {
  color: blue;
}
.action:active {
  color: lightblue;
}

.snapshot-viewer {
  border-top: 1px solid #ccc;
  margin-top: 1em;
  padding-top: 1em;
}